<!DOCTYPE html>
<html ng-app="favouriteVideos">

<head>
  <meta charset="utf-8">
  <title>Favourite Videos</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="bower_components/bootswatch-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="app.css">
</head>

<body>
  <nav-bar></nav-bar>
  <div class="container" ng-view></div>

  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/bootswatch-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>

</html>
