<h1>Signup now!</h1>

<form name="signupForm" ng-submit="signupForm.$valid && signupCtrl.submit()" novalidate>
  <label for="email">email</label>
  <input id="email" name="email" type="email" placeholder="user@example.com" ng-model="signupCtrl.userForm.email" required />

  <label for="username">username</label>
  <input id="username" name="username" type="text" placeholder="John" ng-model="signupCtrl.userForm.username" required />

  <label for="password">password</label>
  <input id="password" name="password" type="password" ng-model="signupCtrl.userForm.password" required />

  <label for="passwordConfirmation">password confirmation</label>
  <input id="passwordConfirmation" name="passwordConfirmation" type="password" ng-model="signupCtrl.userForm.passwordConfirmation" required />

  <button type="submit">Signup</button>
</form>
